@font-face
  font-family: "Banny-BoldRound"
  src: url("../fonts/Banny-BoldRound.woff") format("woff")
  font-weight: 700
  font-style: normal
  font-display: swap
*
  box-sizing: border-box
body
  background-color: $text-white
.container
  max-width: 1440px
  margin: auto
a
  text-decoration: none
  display: inline-block
li
  list-style-type: none
ul
  margin: 0
  padding: 0
