.table
  padding: 99px 0px 45px 0px
  &-wrapper
    display: flex
    justify-content: center
    align-items: center
    margin-bottom: 45px
  &-title
    margin-top: 0
    margin-bottom: 15px
    color: $text-black
    +fontB
  &-picture
    position: relative
    padding-right: 125px
  &-box
    left: 350px
    top: 113px
    position: absolute
    +box
  &-main
    align-items: center
    display: flex
    flex-direction: column
    text-align: center
    justify-content: center
    margin-right: 72px
  &-line
    margin-top: 0px
    margin-bottom: 20px
    +line
  &-schedule
    display: flex
    justify-content: center
    align-items: center
    font-size: 12px
    line-height: 12px
    color: $time
    +fontO
    &__time
      font-weight: bold
  &-arrow
    margin-right: 19px
    position: absolute
    right: 0
    top: 0
    margin-top: 24px
    margin-bottom: 24px
    width: 12px
    height: 9px
  &-buttons
    max-width: 567px
  &-button
    font-size: 12px
    line-height: 20px
    font-weight: bold
    color: $text-white
    padding: 0px
    position: relative
    margin-bottom: 10px
    +fontO
    &--grey
      text-align: left
      background-color: $button-grey
      color: $menu
      width: 276px
      height: 60px
      padding-left: 10px
      &--margin
        margin-right: 10px
    &--yellow
      background-color: $details
      text-transform: uppercase
      width: 564px
      height: 60px
      margin-bottom: 0
